body{
  background-color: chocolate;
}
/*header*/
.header-class {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
}
.for-logo {
  display: flex;
  column-gap: 14px;
  align-items: center;
}
.for-logo h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fa793c;
  font-family: "Pridi";
}
.navigation {
  display: flex;
  align-items: center;
}

.nav-user {
  display: flex;
  column-gap: 40px;
}
.ul-list {
  display: flex;
  column-gap: 15px;
}
.ul-list a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: "ABeeZee";
  color: #000000;
}
.burger-bar {
  display: none;
}

/*first-section*/
.bg-class {
  height: 600px;
  background-image: url(../images/mainphoto.png);
}
.main-photo {
  max-width: 1184px;
  width: 90%;
  column-gap: 165.5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-block {
  width: 576px;
  
}
.right-block {
  background-color: #ffffff;
  width: 440px;
  
  padding: 27px 41.5px 33px 38.5px;
}

/*second section*/

.discovery-class {
  max-width: 1184px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 34px;
  margin-top: 33px;
  background-color: bisque;
}
.photo-zone {
  display: flex;
  column-gap: 15px;
}
.img-style {
  width: 100%;
  display: block;
}
.discovery-class h3 {
  font-family: Kanit;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

.picture-class h5 {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: "Kanit";
  color: #000000;
  margin: 18px 0px 28px 0px;
}

span {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: "Kanit";
  color: #000000;
}
.clock-class {
  display: flex;
  align-items: center;
  column-gap: 11px;
}
.clock-class h6 {
  font-family: Kanit;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

/*third section*/
.photograph-class {
  max-width: 1184px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 52px;
  background-color: cornflowerblue;
}
.main-div {
  display: flex;
  column-gap: 20px;
}
.left-div {
  max-width: 779px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 86px;
}
.first-pic {
  background-image: url(../images/thirdsect1.jpg);
  height: 400px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 232px 36px 70px;
}

.second-pic {
  background-image: url(../images/thirdsect2.jpg);
  height: 400px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 232px 36px 83px;
}

.photograph-class h3 {
  font-family: Kanit;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 34px;
}
.left-div h4 {
  font-family: Kanit;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 10px;
}
.left-div h6 {
  font-family: Kanit;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.right-div {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
.border-class {
  border: 1px solid #000000;
}
.for-padd {
  padding: 18px 20px 15px;
}

/*footer*/
footer{
  background-color: #000000;
}
.footer-logo {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
 
  color: #ffffff;
  column-gap: 5px;
  padding: 31px 0px;
  margin-top: 71px;
}
